<mat-sidenav-container class="height" autosize>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon
          mat-list-icon
          class="chevron-button sidenav-button"
          [ngClass]="{ rotated: isExpanded }"
          >chevron_right
        </mat-icon>
      </mat-list-item>

      <mat-list-item routerLink="/groups">
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded" routerLink="/groups" class="menu-item"
          >Dashboard</span
        >
      </mat-list-item>

      <mat-list-item routerLink="/groups">
        <mat-icon mat-list-icon>important_devices</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Info</span>
      </mat-list-item>

      <mat-list-item routerLink="/chats/create-room">
        <mat-icon mat-list-icon>person_add</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Add User</span>
      </mat-list-item>

      <mat-list-item routerLink="/groups/schedule">
        <mat-icon mat-list-icon>calendar_month</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Add Event</span>
      </mat-list-item>

      <mat-list-item routerLink="/auth/login" (onclick)="logout()">
        <mat-icon mat-list-icon>logout</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Logout</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>
    <!-- <mat-toolbar> </mat-toolbar> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
