<div class="m-3">
  <h1>
    Favourites

    <button
      color="mr-5"
      color="primary"
      mat-raised-button
      (click)="saveFavourites()"
    >
      Save Changes
    </button>
  </h1>

  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile *ngFor="let user of userDatas; let i = index"
      ><div class="container">
        <mat-card>
          <mat-card-title>{{ user.name }}</mat-card-title>
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
          <mat-card-actions>
            <button color="mr-5" mat-raised-button>Chat</button>

            <button
              mat-icon-button
              aria-label="Example icon button with a vertical three dot icon"
              (click)="addOrRemoveFavourite(i, user.email)"
            >
              <mat-icon [ngClass]="{ 'red--icon': isFavourite(user.email) }"
                >favorite</mat-icon
              >
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- 
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/chats', 'chat']"
      [queryParams]="{ meetId: meet._id }"
    >
      Chat
    </button> -->
</div>
