<div class="login-root">
  <div
    class="box-root flex-flex flex-direction--column"
    style="min-height: 100vh; flex-grow: 1"
  >
    <div class="loginbackground box-background--white padding-top--64">
      <div class="loginbackground-gridContainer">
        <div
          class="box-root flex-flex"
          style="grid-area: top / start / 8 / end"
        >
          <div
            class="box-root"
            style="
              background-image: linear-gradient(
                white 0%,
                rgb(247, 250, 252) 33%
              );
              flex-grow: 1;
            "
          ></div>
        </div>
      </div>
    </div>
    <div
      class="box-root padding-top--24 flex-flex flex-direction--column"
      style="flex-grow: 1; z-index: 9"
    >
      <div
        class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center"
      >
        <h1>
          <a
            routerLink="/"
            rel="dofollow"
            class="brand-name"
            style="font-weight: bold"
            >Trainee Teams</a
          >
        </h1>
        <br />
      </div>
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <div
              *ngIf="
                signUpForm.touched && signUpForm.dirty && signUpForm.invalid
              "
              class="alert alert-danger alert-dismissable fade show"
              role="alert"
            >
              Password or Username is incorrect
              <button
                id="fail"
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
                style="margin-left: 3em; float: right"
              ></button>
            </div>
            <span class="padding-bottom--15">Create Your Account</span>
            <form
              [formGroup]="signUpForm"
              (ngSubmit)="onSubmit()"
              id="stripe-login"
              action="/login"
              method="POST"
            >
              <div class="field padding-bottom--24">
                <label for="email">User Email</label>
                <input
                  formControlName="email"
                  type="text"
                  name="email"
                  placeholder="Enter Your Email"
                  required
                />
              </div>
              <div class="field padding-bottom--24">
                <label for="name">User Name</label>
                <input
                  formControlName="name"
                  type="text"
                  name="name"
                  placeholder="Enter Your Name"
                  required
                />
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label for="password">Password</label>
                </div>
                <input
                  formControlName="password"
                  type="password"
                  name="password"
                  placeholder="********"
                  required
                />
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label for="password">Re-enter Password</label>
                </div>
                <input
                  formControlName="reenterPassword"
                  type="password"
                  name="password"
                  placeholder="********"
                  required
                />
              </div>

              <div class="field padding-bottom--24">
                <input type="submit" name="submit" value="Continue" />
              </div>
              <div class="field">
                <a class="ssolink" routerLink="/auth/google"
                  >Forgot My Password ?
                </a>
              </div>
            </form>
          </div>
        </div>
        <div class="footer-link padding-top--24">
          <span style="color: burlywood"
            >Don't have an account?
            <a routerLink="/register" style="color: burlywood">Sign up</a></span
          >
          <div
            class="listing padding-top--24 padding-bottom--24 flex-flex center-center"
          >
            <span><a routerLink="/">© Infosys</a></span>
            <span><a routerLink="/">Contact</a></span>
            <span><a routerLink="/">Privacy & terms</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
